<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>send.reminder.everything.ok</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/python3</string>
        	<string>/Users/MMSmith/Side_Projects/ReminderTexts/text_driver.py</string>
        	<string>--r</string>
        	<string>SO</string>
        	<string>--m</string>
        	<string>ok</string>
    	</array>
    	<key>StartInterval</key>
    	<integer>7200</integer>
        <key>StandardErrorPath</key>
        <string>/Users/MMSmith/Side_Projects/ReminderTexts/launchd.stderr.log</string>
        <key>StandardOutPath</key>
        <string>/Users/MMSmith/Side_Projects/ReminderTexts/launchd.stdout.log</string>
    </dict>
</plist>